name: Deploy Cluster

on:
  push:
    branches: "main"
    paths-ignore: 
      - "README.md"
      - ".gitignore"
      - ".github"

jobs:
  cluster:
    name: Deploy stack to AWS
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: 'us-east-1'

    - name: Deploy
      uses: aws-actions/aws-cloudformation-github-deploy@master
      with:
        name: deployit
        template: template.yaml
        capabilities: CAPABILITY_NAMED_IAM
